.article__body
    .article__title
        h1 Воспаление десен при ношении брекетов

    .article__author
        .article__author-inner
            .article__author-top
            .article__author-descr Категория
            .article__author-top__text Здоровье дёсен

            .article__author-content
                .article__author-descr Автор статьи
                .article__author-img__holder
                    +picture({
                        src: 'lector.jpg',
                        srcWebp: 'lector.webp',
                    }).article__author-img

                .article__author-name Солдатова Людмила Николаевна
                .article__author-text Кандидат медицинских наук, профессор кафедры клинической стоматологии &laquo;Санкт-Петербургского медико-социального института&raquo;, главный врач стоматологической клиники &laquo;Альфа-Дент&raquo; г. Санкт-Петербург

    .article__content
        .article__content-top
            p.article__text-big К&nbsp;счастью, сегодня всем нам доступна коррекция зубных рядов с&nbsp;помощью ортодонтического лечения. Грамотно подобранная брекет-система способна выровнять зубы и&nbsp;предотвратить множество их&nbsp;заболеваний. Но&nbsp;что делать, если при исправлении прикуса и&nbsp;длительном ношении брекетов воспаляются десны? Давайте разберемся, как ухаживать за&nbsp;полостью рта с&nbsp;этой сложной конструкцией, вылечить и&nbsp;предотвратить воспаление десен при исправлении прикуса.

            .article__img-holder
                +picture({
                    src: 'article-4.jpg',
                    srcWebp: 'article-4.webp',
                })

        h2 Причины воспаления десен
        p При ношении брекетов зубы и&nbsp;десны нуждаются в&nbsp;особенно тщательном уходе. Чистка зубов в&nbsp;конструкции затруднена, поэтому для них разработаны специальные приспособления, которые позволяют сохранить здоровье зубов в&nbsp;течение коррекции.
        p Воспаления десен при ношении брекетов может быть спровоцировано такими факторами, как:

        h3 Неполноценная гигиена полости рта
        p При ношении брекетов зубы и&nbsp;десны нуждаются в&nbsp;тщательном уходе. Важно понимать, что их&nbsp;чистка затруднена, и&nbsp;использовать для нее разные специальные устройства, которые позволят эффективно очистить даже труднодоступные участки полости рта. Если&nbsp;же налет на&nbsp;зубах откладывается, очень быстро образуется зубной камень и&nbsp;воспаляются десны. Ткани начинают кровоточить, болеть и&nbsp;пациент внепланово обращается к&nbsp;врачу.

        h3 Неправильная установка ортодонтической системы
        p В&nbsp;очень редких случаях неправильно установленные брекеты травмируют десны. Ранки провоцируют воспаление, десны опухают, возникает боль, кровоточивость. Для решения этой проблемы больному обязательно следует отправиться к&nbsp;ортодонту, чтобы исключить вероятность неправильной установки конструкции.

        .article__product
            +product-card({image: 'product-2'})
            .article__product-content
                .article__product-content__title АСЕПТА АКТИВ
                .article__product-content__descr Ополаскиватель для полости рта
                .article__product-content__text Это уникальное средство с&nbsp;бензидамином, хлоргексидином, мятой и&nbsp;ментолом оказывает комбинированное противомикробное, противовоспалительное и&nbsp;обезболивающее действия. Средство обеспечивает мгновенный анестезирующий эффект и&nbsp;быстро уменьшает болевые ощущения.

        h2 Профилактика воспалений
        p Чтобы не&nbsp;допустить воспаления десен при ношении брекетов, важно внимательно следить за&nbsp;здоровьем тканей, соблюдая простые правила профилактики:
        ol
            li Обязательно соблюдайте правила ежедневной гигиены полости рта, рекомендованные ортодонтом.
            li Если заметили первые симптомы воспаления&nbsp;&mdash; полощите рот.
            li Регулярно пользуйтесь ирригатором и&nbsp;зубной нитью после еды.

        .article__img-holder
            +picture({
                src: 'article-5.jpg',
                srcWebp: 'article-5.webp',
            })

        h2 Источники
        ol.article__list-big
            li Отчет о&nbsp;клинических испытаниях по&nbsp;определению/подтверждению профилактических свойств средств индивидуальной гигиены полости рта выпускаемых серийно: ополаскиватель для полости рта &laquo;АСЕПТА PARODONTAL&raquo;&nbsp;&mdash; Раствор для ирригатора&quot;. д.м.н. профессор, заслуженный врач&nbsp;РФ, зав. кафедрой Профилактической стоматологии С.Б. Улитовский, врач-исследователь А.А. Леонтьев Первый Санкт-Петербургский государственный медицинский университет имени академика И.П. Павлова, кафедра профилактической стоматологии.
            li Эффективность применения Асепта &laquo;бальзам адгезивный&raquo; и&nbsp;Асепта &laquo;гель с&nbsp;прополисом&raquo; в&nbsp;лечении хронического генерализованного парадонтита и&nbsp;гингивита в&nbsp;стадии обострения (МУЗ &laquo;Городская стоматологическая поликлиника &#8470;&nbsp;4&raquo; г. Брянск
            li Изучение клинической эффективности лечебно-профилактических средств линии &laquo;Асепта&raquo; при лечении воспалительных заболеваний пародонта (А.И.Грудянов, И.Ю. Александровская, В.Ю. Корзунина) А.И. ГРУДЯНОВ, д.м.н., проф., руководитель отделения И.Ю. АЛЕКСАНДРОВСКАЯ, к.м.н. В.Ю. КОРЗУНИНА, асп. Отделение пародонтологии ЦНИИС и&nbsp;ЧЛХ Росмедтехнологий, г. Москва
