mixin search
    .search&attributes(attributes)
        .search__input
            label(for="search-dektop")
                +svg('search')
            input(type="text" placeholder="Поиск по разделу" id="search-dektop" name="search")
