.health-test(data-scroll-to-block)
    .health-test__content
        +picture({src: "health-test-1.png"}).health-test__img--left
        +picture({src: "health-test-2.png"}).health-test__img--right
        span Пройдите тест на здоровье зубов и дёсен
        +btn({text: "Пройти"})
