<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
table(border="0" width="100%" cellpadding="0" bgcolor="#F6F6F6" cellspacing="0" style="margin: 0 auto; padding: 0; font-family: Arial;")
    tr
        td 
            center(style="max-width: 800px; width: 100%; min-width: 420px; margin: auto;")
                table(border="0" cellpadding="0" cellspacing="0" bgcolor="#F6F6F6" width="100%" style="margin: 0; padding: 0; color: #182233")
                    tr
                        td(style="padding: 50px;")
                            img(src="https://i.postimg.cc/T1ckBh5s/its-logo.png" alt="its agency" width="146px" style="display: block; margin: auto")

                table(border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" style="margin: 0; padding: 0; border-bottom: 1px solid #EFEFEF; color: #182233")
                    tr 
                        td(style="padding: 50px")
                            span(style="display: block; font-size: 26px; padding-bottom: 16px;") <b>Здравствуйте, Марина!</b>
                            span(style="display: block; font-size: 14px; line-height: 140%;") Чтобы восстановить пароль пройдите по&nbsp;следующей ссылке: 
                            a(href="https://www.letu.ru/reset-password?token=1R4FKC4H3zmCtDSmGuWwYec8" target="_blank" style="display: block; font-size: 14px; color: #005BD1; padding-bottom: 16px;") https://www.letu.ru/reset-password?token=1R4FKC4H3zmCtDSmGuWwYec8

                            span(style="display: block; font-size: 14px; padding-bottom: 2px;") В личном кабинете вы можете:
                            ul(style="margin: 0; padding: 0; padding-bottom: 16px; list-style-position: inside;")
                                li(style="font-size: 14px; padding-bottom: 2px; margin: 0; mso-special-format: bullet;") Уточнить информацию по Абонементу или Билету
                                li(style="font-size: 14px; padding-bottom: 2px; margin: 0; mso-special-format: bullet;") Проверить статус заказа в интернет-магазине Erarta Shop
                                li(style="font-size: 14px; padding-bottom: 2px; margin: 0; mso-special-format: bullet;") Получить скидку на продление Абонемента или Билета.

                            span(style="display: block; font-size: 14px; line-height: 140%;") Ваш,<br>its.agency

                table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0" bgcolor="#F6F6F6")
                    tr 
                        td(style="padding: 40px 0")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto; max-width: 530px; color: #182233")
                                tr 
                                    td(style="text-align: center; font-size: 16px; padding-bottom: 24px") <b>Следите за&nbsp;нами</b>
                                tr 
                                    td(style="text-align: center; padding-bottom: 50px")
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/4A6z9UJnUT.png", alt="Telegram", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Telegram
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/3bD1yscSwQ.png", alt="WhatsAPp", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") WhatsAPp
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/hFuP3G5WlT.png", alt="VKontakte", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") VKontakte
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/xDBcyrZs8z.png", alt="Instagram", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Instagram
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/5eftAo55Kq.png", alt="Facebook", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Facebook
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/3fEps7b7AP.png", alt="Twitter", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Twitter
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/3GHyF4jagD.png", alt="Youtube", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Youtube
                                tr 
                                    td(style="font-size: 10px; text-align: center; color: #0000006c; padding-bottom: 20px") 
                                        span С&nbsp;уважением, Служба поддержки покупателей E-com name.ООО &laquo;E-com name&raquo;, Химки, 141400, Московская область, Российская Федерация
                                tr 
                                    td(style="text-align: center")
                                        a(href="tel: 88005007800" style="text-align: center; font-size: 12px; color: #182233; text-decoration: none;") <b>8&nbsp;800&nbsp;500 78&nbsp;00</b>
                                        
