<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
table(border="0" width="100%" cellpadding="0" bgcolor="#F6F6F6" cellspacing="0" style="margin: 0 auto; padding: 0; font-family: Arial;")
    tr
        td 
            center(style="max-width: 800px; width: 100%; min-width: 420px; margin: auto;")
                table(border="0" cellpadding="0" cellspacing="0" bgcolor="#F6F6F6" width="100%" style="margin: 0; padding: 0; color: #182233")
                    tr
                        td(style="padding: 50px;")
                            img(src="https://i.postimg.cc/T1ckBh5s/its-logo.png" alt="its agency" width="146px" style="display: block; margin: auto")

                table(border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" style="margin: 0; padding: 0; border-bottom: 1px solid #EFEFEF; color: #182233")
                    tr 
                        td(style="padding: 50px")
                            span(style="display: block; text-align: center; font-size: 26px; margin-bottom: 16px;") <b>Заказ <a href="#" target="_blank" style="color: #AC8C75; white-space: nowrap; text-decoration: none">A-12345</a> подтвержден</b>
                            span(style="display: block; text-align: center; font-size: 14px; line-height: 136%; max-width: 496px; width: 100%; margin: auto") Спасибо, что совершили покупку в&nbsp;*E-com name*. Мы&nbsp;получили Ваш заказ и&nbsp;свяжемся с&nbsp;Вами, как только Ваша посылка будет отправлена. Ниже указана информация о&nbsp;Вашей покупке.
                
                table(border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" style="margin: 0; border-bottom: 1px solid #EFEFEF; color: #182233")
                    tr 
                        td(style="padding: 40px 50px")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; color: #182233")
                                tr 
                                    td(style="vertical-align: top")
                                        span(style="display: block; margin-bottom: 6px; font-size: 12px; color: #0000006c;") Дата заказа
                                        span(style="display: block; font-size: 14px;") <b>22.01.2024</b>
                                    td(style="vertical-align: top")
                                        span(style="display: block; margin-bottom: 6px; font-size: 12px; color: #0000006c;") Способ оплатыты
                                        span(style="display: block; font-size: 14px;") <b>Оплата картой на&nbsp;сайте</b>
                                tr 
                                    td(style="padding-top: 30px; vertical-align: top")
                                        span(style="display: block; margin-bottom: 6px; font-size: 12px; color: #0000006c;") Имя
                                        span(style="display: block; font-size: 14px;") <b>Фамилия Имя Отчество</b>
                                    td(style="padding-top: 30px; vertical-align: top" rowspan="2")
                                        span(style="display: block; margin-bottom: 6px; font-size: 12px; color: #0000006c;") Адрес доставки
                                        span(style="display: block; font-size: 14px;") <b>Фамилия Имя Отчество<br>Бульвар Менделеева 9&nbsp;кв.&nbsp;145<br>188888&nbsp;пос. Бугры<br>Ленинградская область</b>
                                tr 
                                    td(style="padding-top: 30px; vertical-align: top")
                                        span(style="display: block; margin-bottom: 6px; font-size: 12px; color: #0000006c;") E-mail
                                        span(style="display: block; font-size: 14px;") <a href="mailto: user@mail.com" style="color: #182233; text-decoration: none;"><b>user@mail.com</b></a>
                                tr 
                                    td(style="padding-top: 30px; vertical-align: top")
                                        span(style="display: block; margin-bottom: 6px; font-size: 12px; color: #0000006c;") Контактный телефон
                                        span(style="display: block; font-size: 14px;") <a href="tel: +79991231111" style="color: #182233; text-decoration: none;"><b>+7 (999) 123-11-11</b></a>

                table(border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" style="margin: 0; border-bottom: 1px solid #EFEFEF")
                    tr
                        td(style="padding: 40px 50px")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; color: #182233")
                                tr 
                                    td 
                                        table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; color: #182233")
                                            tr 
                                                td(width="220")
                                                    a(href="#" target="_blank")
                                                        img(src="https://i.postimg.cc/287RfSfr/boot.jpg" alt="ботинок" style="width: 100%; max-width: 220px; min-width: 140px")
                                                td(style="padding-left: 20px; vertical-align: top; width: 280px")
                                                    a(href="#" target="_blank" style="display: block; font-size: 16px; padding-bottom: 12px; color: #182233; text-decoration: none;") <b>Женские демисезонные казаки EKONIKA PREMIUM</b>
                                                    span(style="display: block; font-size: 14px; color: #0000006c;") Арт.: 1008240208933
                                                    span(style="display: block; font-size: 14px; color: #0000006c; padding-top: 4px") Размер: 39
                                                    span(style="display: block; font-size: 14px; color: #0000006c; padding-top: 4px") Цвет: Черный
                                                    span(style="display: block; font-size: 14px; color: #0000006c; padding-top: 4px") Кол-во: 1
                                                td(style="padding-left: 20px; vertical-align: top; text-align: right")
                                                    span(style="display: block; font-size: 16px") <b>24&nbsp;499&nbsp;₽</b>
                                tr 
                                    td(style="padding-top: 24px")
                                        table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; color: #182233")
                                            tr 
                                                td(width="220")
                                                    a(href="#" target="_blank")
                                                        img(src="https://i.postimg.cc/CLgTtfXc/bag.jpg" alt="ботинок" style="width: 100%; max-width: 220px; min-width: 140px")
                                                td(style="padding-left: 20px; vertical-align: top; width: 280px")
                                                    a(href="#" target="_blank" style="display: block; font-size: 16px; padding-bottom: 12px; color: #182233; text-decoration: none;") <b>женская сумка-багет EKONIKA PREMIUM</b>
                                                    span(style="display: block; font-size: 14px; color: #0000006c;") Арт.: 1008240208933
                                                    span(style="display: block; font-size: 14px; color: #0000006c; padding-top: 4px") Цвет: Коричневый
                                                    span(style="display: block; font-size: 14px; color: #0000006c; padding-top: 4px") Кол-во: 1
                                                td(style="padding-left: 20px; vertical-align: top; text-align: right")
                                                    span(style="display: block; font-size: 16px") <b>14&nbsp;990&nbsp;₽</b>
                                                    span(style="display: block; font-size: 16px; color: #0000006c;") <s><b>24&nbsp;990&nbsp;₽</b></s>

                table(border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" style="margin: 0")
                    tr 
                        td(style="padding: 40px 50px")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0; max-width: 340px; margin-left: auto; margin-right: 0; border-collapse: separate; border-spacing: 0 8px; color: #182233")
                                tr 
                                    td(style="font-size: 16px") Всего товаров
                                    td(style="font-size: 16px; text-align: right") 39&nbsp;489&nbsp;₽
                                tr 
                                    td(style="font-size: 16px") Стоимость доставки
                                    td(style="font-size: 16px; text-align: right") 299&nbsp;₽
                                tr 
                                    td(style="font-size: 16px") Скидка на&nbsp;доставку
                                    td(style="font-size: 16px; text-align: right; color: #E9053C") -&nbsp;299&nbsp;₽
                                tr
                                    td(style="font-size: 16px; border-bottom: 1px solid #EFEFEF; padding-bottom: 16px;") Скидка на&nbsp;товары
                                    td(style="font-size: 16px; text-align: right; border-bottom: 1px solid #EFEFEF; padding-bottom: 16px; color: #E9053C") -&nbsp;1&nbsp;000&nbsp;₽
                                tr 
                                    td(style="font-size: 16px; padding-top: 8px") <b>Итого к&nbsp;оплате</b>
                                    td(style="font-size: 16px; text-align: right; padding-top: 8px") <b>38&nbsp;489&nbsp;₽</b>

                table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0" bgcolor="#F6F6F6")
                    tr 
                        td(style="padding: 40px 0")
                            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto; max-width: 530px; color: #182233")
                                tr 
                                    td(style="text-align: center; font-size: 16px; padding-bottom: 24px") <b>Следите за&nbsp;нами</b>
                                tr 
                                    td(style="text-align: center; padding-bottom: 50px")
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/4A6z9UJnUT.png", alt="Telegram", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Telegram
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/3bD1yscSwQ.png", alt="WhatsAPp", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") WhatsAPp
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/hFuP3G5WlT.png", alt="VKontakte", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") VKontakte
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/xDBcyrZs8z.png", alt="Instagram", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Instagram
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/5eftAo55Kq.png", alt="Facebook", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Facebook
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/3fEps7b7AP.png", alt="Twitter", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Twitter
                                        a(href="#" target="_blank" style="display: inline-block; margin: 5px 15px; color: #182233; text-decoration: none;")
                                            img(src="https://bytepix.ru/ib/3GHyF4jagD.png", alt="Youtube", width="24px" height="24px")
                                            span(style="display: block; margin-top: 6px; font-size: 10px; color: #0000006c;") Youtube
                                tr 
                                    td(style="font-size: 10px; text-align: center; color: #0000006c; padding-bottom: 20px") 
                                        span С&nbsp;уважением, Служба поддержки покупателей E-com name.ООО &laquo;E-com name&raquo;, Химки, 141400, Московская область, Российская Федерация
                                tr 
                                    td(style="text-align: center")
                                        a(href="tel: 88005007800" style="text-align: center; font-size: 12px; color: #182233; text-decoration: none;") <b>8&nbsp;800&nbsp;500 78&nbsp;00</b>
                                        
