-
    const cards = [
        {
            isMain : true,
            title: 'Влияет&nbsp;ли зубная паста на&nbsp;прочность зубов?',
            descr: 'Ежедневная чистка зубов пастой&nbsp;&mdash; эффективный способ сохранить их&nbsp;здоровье. Процедура позволяет удалить из&nbsp;ротовой полости остатки пищи, которые',
            label: 'Детям'
        },
        {
            title: 'Воспаление десен при ношении брекетов',
            descr: 'Каждый из&nbsp;нас мечтает о&nbsp;красивых ровных зубах. Ослепительная улыбка в&nbsp;любой ситуации способна разрядить обстановку и&nbsp;подарить всем',
            label: 'Здоровье дёсен'
        },
        {
            title: 'Пробиотики для полости рта',
            descr: 'Сегодня каждому известна важность здоровой микрофлоры кишечника, однако, далеко не&nbsp;каждый из&nbsp;нас задумывается о&nbsp;влиянии микрофлоры',
            label: 'Гигиена полости рта'
        },
        {
            title: 'Герпетический стоматит у детей: причины, проявления, терапия',
            descr: 'Вирусы семейства Herpes viridae являются одними из&nbsp;самых распространенных болезнетворных вирусов на&nbsp;планете. Они способны поражать',
            label: 'Детям'
        },
        {
            title: 'Что делать родителям, если у ребенка начали кровоточить десны',
            descr: 'Появление кровоточивости десен не&nbsp;только свидетельствует о&nbsp;наличии какого-либо заболевания полости рта, но&nbsp;может и&nbsp;вызвать серьезные',
            label: 'Детям'
        },
        {
            title: 'Зубные пасты с фтором',
            descr: 'Долгие годы каждый второй обыватель был уверен в&nbsp;том, что хорошая зубная паста должна непременно содержать в&nbsp;себе фтор. О&nbsp;важности этого элемента',
            label: 'Здоровье дёсен'
        },
        {
            title: 'Язвенный гингивит у детей',
            descr: 'Гингивит&nbsp;&mdash; стоматологическое заболевание, способное поражать как взрослых, так и&nbsp;маленьких пациентов. Если говорить о&nbsp;детях, то&nbsp;чаще всего',
            label: 'Детям'
        },
    ]

.articles__body
    .articles__cards
        each card, index in cards
            - const cardWithImg = { ...card, img: { src: `articles-${index + 1}.jpg`, srcWebp: `articles-${index + 1}.webp` } }
            +articles-card(cardWithImg)
    .articles__pagination
        +btn({
            text: 'Показать еще',
            isLink: true
        }).btn--outline