include ../blocks/mixins/svg/svg.pug
include ../blocks/mixins/button/button.pug
include ../blocks/mixins/modal/modal.pug
include ../blocks/mixins/picture/picture.pug
include ../blocks/mixins/logo/logo.pug
include ../blocks/mixins/socials/socials.pug
include ../blocks/mixins/video/video.pug
include ../blocks/mixins/select/select.pug
include ../blocks/mixins/crumbs/crumbs.pug
include ../blocks/mixins/catalog-card/catalog-card.pug
include ../blocks/mixins/product-card/product-card.pug
include ../blocks/mixins/expert-card/expert-card.pug
include ../blocks/mixins/big-link/big-link.pug
include ../blocks/mixins/review-item/review-item.pug
include ../blocks/mixins/promo-card/promo-card.pug
include ../blocks/mixins/promo-category/promo-category.pug
include ../blocks/mixins/promo-item/promo-item.pug
include ../blocks/mixins/header/header.pug
include ../blocks/mixins/doctor-sidebar/doctor-sidebar.pug
include ../blocks/mixins/search/search.pug
include ../blocks/mixins/private-access/private-access.pug
include ../blocks/mixins/article-preview/article-preview.pug
include ../blocks/mixins/research-item/research-item.pug
include ../blocks/mixins/action-item/action-item.pug
include ../blocks/mixins/webinar-item/webinar-item.pug
include ../blocks/mixins/register-banner/register-banner.pug
include ../blocks/mixins/webinar-item-horizontal/webinar-item-horizontal.pug
include ../blocks/mixins/filters/filters.pug
include ../blocks/mixins/webinar-card/webinar-card.pug
include ../blocks/mixins/account-webinars/account-webinars.pug
include ../blocks/mixins/buy-block/buy-block.pug
include ../blocks/mixins/partner/partner.pug
include ../blocks/mixins/articles-card/articles-card.pug
include ../blocks/mixins/learn-search/learn-search.pug
include ../blocks/mixins/popular-questions/popular-questions.pug
