extends ../templates/template.pug
block content
    .page.account-page
        +doctor-sidebar(true)
        +crumbs(['Главная', 'Врачам', 'Личный кабинет'])
        .account-page__head.container
            h1 Личный кабинет
        .page__inner
            include ../blocks/includes/account-card/account-card.pug
            +account-webinars
            include ../blocks/includes/doctor-actions/doctor-actions.pug
