extends ../templates/template.pug
block content
    .page.container.u-flex-col.u-ais(style="min-height: calc(100vh - 160px);")
        .page__inner(style="gap: 0")
            a.t-h3(href="./main.html") Главная
            a.t-h3(href="./catalog.html") Каталог
            a.t-h3(href="./product-detail.html") Карточка товара
            a.t-h3(href="./promo.html") Промо-страница
            a.t-h3(href="./doctors.html") Врачам
            a.t-h3(href="./doctors-access.html") Врачам - Доступ
            a.t-h3(href="./register.html") Регистрация
            a.t-h3(href="./login.html") Авторизация
            a.t-h3(href="./recovery-password.html") Восстановление пароля
            a.t-h3(href="./create-password.html") Создание нового пароля
            a.t-h3(href="./webinars.html") Вебинары
            a.t-h3(href="./webinars-access.html") Вебинары - Доступ
            a.t-h3(href="./webinar-detail.html") Вебинары - Детальная карточка
            a.t-h3(href="./account-empty.html") Личный кабинет - пустой
            a.t-h3(href="./account.html") Личный кабинет
            a.t-h3(href="./account-edit.html") Личный кабинет - редактирование
            a.t-h3(href="./reviews.html") Отзывы
            a.t-h3(href="./buy.html") Где купить
            a.t-h3(href="./articles.html") Советы эксперта
            a.t-h3(href="./article.html") Советы эксперта - Статья
            a.t-h3(href="./learn-more.html") Узнать больше
