extends ../templates/template.pug
block content
    .page(data-page="main")
        .page__inner
            include ../blocks/includes/main-hero/main-hero.pug
            include ../blocks/includes/main-slides/main-slides.pug
            include ../blocks/includes/main-catalog/main-catalog.pug
            include ../blocks/includes/main-bestsellers/main-bestsellers.pug
            include ../blocks/includes/main-experts/main-experts.pug
            include ../blocks/includes/main-links/main-links.pug
