extends ../templates/template.pug

block content
    .page 
        include ../blocks/includes/promo-hero/promo-hero.pug
        .page__inner.promo-page__inner
            .promo-blocks-list.container
                +promo-category({
                    title: 'Укрепление эмали',
                    subtitle: 'Бережный уход за дёснами и зубами<br>для укрепления эмали',
                    leftPromo: [
                        {
                            product: {
                                title: 'MINERALS',
                                desc: 'Зубная паста<br>для минерализации эмали',
                                image: 'product-4',
                                tags: []
                            },
                            title: 'Минерализация',
                            desc: 'Предназначена для бережного ежедневного укрепления зубов.  Паста насыщает  эмаль минералами.',
                            volume: '75 мл.'
                        },
                    ],
                    text: 'Защита и&nbsp;восстановление с&nbsp;первого применения&nbsp;&mdash; для уверенной улыбки и&nbsp;здоровья зубов.',
                    rightPromo: [
                        {
                            product: {
                                title: 'MINERALS',
                                desc: 'Зубная паста<br>для минерализации эмали',
                                image: 'product-6',
                                tags: []
                            },
                            title: 'Минерализация и Отбеливание',
                            desc: 'Паста для укрепления эмали и снижения чувствительности зубов.',
                            volume: '75 мл.'
                        }
                    ]
                })
                +promo-category({
                    title: 'Отбеливание',
                    subtitle: ' Эффективное и безопасное отбеливание зубов<br>без ограничений по срокам применения',
                    leftPromo: [
                        {
                            product: {
                                title: 'WHITENING',
                                desc: 'Бережное отбеливание',
                                image: 'product-3',
                                tags: []
                            },
                            title: 'Бережное отбеливание',
                            desc: 'Предназначена для бережного ежедневного укрепления зубов.  Паста насыщает  эмаль минералами.',
                            volume: '75 мл.'
                        },
                    ],
                    text: 'Эти продукты отлично подойдут для деликатного отбеливания и&nbsp;укрепления эмали при повышенной чувствительности зубов.',
                    rightPromo: [
                        {
                            product: {
                                title: 'WHITENING',
                                desc: 'Интенсивное отбеливание',
                                image: 'product-7',
                                tags: []
                            },
                            title: 'WHITENING Кофе и табак',
                            desc: 'Интенсивное отбеливание и устранение последствий курения и употребления продуктов, окрашивающих зубную эмаль.',
                            volume: '75 мл.'
                        }
                    ]
                }).promo-category--reverse
                +promo-category({
                    title: 'Анти-кариес',
                    subtitle: 'Комплексная защита повышает устойчивость<br>эмали и предотвращает развитие кариеса',
                    leftPromo: [
                        {
                            product: {
                                title: 'COMPLEX',
                                desc: 'Зубная паста<br>для комплексного ухода',
                                image: 'product-8',
                                tags: []
                            },
                            title: 'Анти-кариес — Комплексная защита',
                            desc: 'Защита от кариеса и укрепление десен и эмали зубов. Паста эффективно снижает повышенную чувствительность десен и зубов.',
                            volume: '75 мл.'
                        },
                        {
                            product: {
                                title: 'FRESH',
                                desc: 'От чувствительности зубов',
                                image: 'product-2',
                                tags: []
                            },
                            title: 'ополаскиватель Фреш',
                            desc: 'Снижает повышенную чувствительность зубов.<br>Экстракты шалфея, ромашки и гамамелиса оказывают противовоспалительное действие.',
                            volume: '75 мл.'
                        }
                    ],
                    text: 'Зубные пасты для профессионального ежедневного ухода за полостью рта.',
                    rightPromo: [
                        {
                            product: {
                                title: 'WHITENING',
                                desc: 'Интенсивное отбеливание',
                                image: 'product-7',
                                tags: []
                            },
                            title: 'WHITENING Кофе и табак',
                            desc: 'Интенсивное отбеливание и устранение последствий курения и употребления продуктов, окрашивающих зубную эмаль.',
                            volume: '75 мл.'
                        },
                        {
                            product: {
                                title: 'РАСТВОР ДЛЯ ИРРИГАТОРА',
                                desc: 'Концентрация 1:10',
                                image: 'product-9',
                                tags: []
                            },
                            title: 'Минерализация',
                            desc: 'Раствор для ирригатора улучшает гигиену полости рта и придает свежесть дыханию.',
                            volume: '250 мл.'
                        }
                    ]
                })
                +promo-category({
                    title: 'Для чувствительных зубов',
                    subtitle: 'Гигиены полости рта при повышенной чувствительности',
                    leftPromo: [
                        {
                            product: {
                                title: 'EXTRA SENSITIVE',
                                desc: 'Зубная паста от чувствительности зубов',
                                image: 'product-10',
                                tags: []
                            },
                            title: 'Экстра сенситив',
                            desc: 'Предназначена для бережного ежедневного укрепления зубов.  Паста насыщает  эмаль минералами.',
                            volume: '75 мл.'
                        },
                    ],
                    text: 'Деликатное воздействие при повышенной чувствительности зубов.',
                    rightPromo: [
                        {
                            product: {
                                title: 'SENSITIVE',
                                desc: 'Зубная паста от чувствительности зубов',
                                image: 'product-11',
                                tags: []
                            },
                            title: 'сенситив',
                            desc: 'Паста способствует укреплению эмали, сохраняет белизну зубов, препятствует образованию зубного налета и развитию кариеса',
                            volume: '75 мл.'
                        }
                    ]
                }).promo-category--reverse
                +promo-category({
                    title: 'Для здоровья дёсен',
                    subtitle: 'Комплекс средств для интенсивного восстановления полости рта при воспалении и кровоточивости',
                    leftPromo: [
                        {
                            product: {
                                title: 'ACTIVE',
                                desc: 'Зубная паста от воспаления и кровоточивости',
                                image: 'product-12',
                                tags: []
                            },
                            title: 'Актив',
                            desc: 'Паста с противовоспалительным эффектом, применяемая при лечении и для профилактики воспалительных заболеваний пародонта.',
                            volume: '75 мл.'
                        },
                        {
                            product: {
                                title: 'HERBAL',
                                desc: 'Зубная паста с экстрактами лечебных трав',
                                image: 'product-14',
                                tags: []
                            },
                            title: 'Лечебные травы',
                            desc: 'Забота о зубах и дёснах с помощью комплекса активных компонентов.',
                            volume: '75 мл.'
                        }
                    ],
                    text: 'Комплексный подход к проблеме – средства набора позволяют ускорить процессы регенерации тканей пародонта.',
                    rightPromo: [
                        {
                            product: {
                                title: 'BIOCOMPLEX',
                                desc: 'Зубная паста для укрепления дёсен',
                                image: 'product-13',
                                tags: []
                            },
                            title: 'Биокомплекс',
                            desc: 'Для высокоэффективного домашнего ухода, профилактики кариеса и снижения чувствительности зубов и десен.',
                            volume: '75 мл.'
                        },
                        {
                            product: {
                                title: 'Ополаскиватель ACTIVE',
                                desc: 'От воспаления и кровоточивости',
                                image: 'product-15',
                                tags: []
                            },
                            title: 'Ополаскиватель актив',
                            desc: 'Мгновенный анестезирующий эффект, выражено уменьшая болевые ощущения после первого применения, борется с бактериями.',
                            volume: '250 мл.'
                        }
                    ]
                })
            include ../blocks/includes/promo-big-links/promo-big-links.pug
            include ../blocks/includes/main-experts/main-experts.pug
            .promo-page__btn.container(data-active-inner=".promo-page__inner")
                +btn({
                    text: 'Где купить',
                    isLink: true,
                }).btn--fill