-
    reviews = [
        {
            name: 'Наталия',
            date: '24 Августа, 2024',
            rating: 5,
            text: 'Замечательное средство..дико заболел зуб..уже записалась к стоматологу, зная,.что на зубе киста. Ходила мучалась,.считая часы до приема врача. У коллеги по работе нашелся этот бальзам. Не особо поверила, но решила попробовать. Консистенция специфическая.',
            icon: '/assets/img/ozon-circle.png',
            modal: 'review-info'
        },
        {
            name: 'Сергей',
            date: '14 Августа, 2024',
            rating: 4,
            text: 'Действительно подходит для ухода за чувствительной эмалью зубов. Во время использования болевых ощущений не было. Очень хорошая зубная паста. Теперь думаю брать её всегда. Укрепляет и реминерализирует.',
            images: ['review-1', 'review-1', 'review-1'],
            modal: 'review'
        },
        {
            name: 'Наталия',
            date: '24 Августа, 2024',
            rating: 3,
            text: 'Замечательное средство..дико заболел зуб..уже записалась к стоматологу, зная,.что на зубе киста. Ходила мучалась,.считая часы до приема врача. У коллеги по работе нашелся этот бальзам. Не особо поверила, но решила попробовать. Консистенция специфическая.',
            images: ['review-1', 'review-1', 'review-1', 'review-1'],
            icon: '/assets/img/wildberries-circle.png',
            modal: 'review'
        },
        {
            name: 'Сергей',
            date: '14 Августа, 2024',
            rating: 5,
            text: 'Действительно подходит для ухода за чувствительной эмалью зубов. Во время использования болевых ощущений не было. Очень хорошая зубная паста. Теперь думаю брать её всегда. Укрепляет и реминерализирует.',
            images: ['review-1', 'review-1', 'review-1'],
            modal: 'review'
        },
    ]

.reviews-body.container
    +crumbs(['Главная', 'Каталог', 'Baby 0-3', 'Отзывы'])
    h1 Отзывы
    .reviews-body__list 
        each review in reviews
            +review-item(review)
    .reviews-body__btn
        +btn({
            text: 'Показать еще',
            isLink: true
        }).btn--outline