.hurry-register
    .container
        h2 Успейте зарегистрироваться
            +webinar-item-horizontal({
                title: 'Советы для эффективного завершения лечения на&nbsp;элайнерах',
                image: 'hurry-register-1',
                time: '3&nbsp;марта в&nbsp;17:00-19:30 мск'
            })
