-
    cards = [
        {
            title: '',
            image: 'catalog-card-4'
        },
        {
            title: 'Гели<br>и бальзамы',
            image: 'catalog-card-3'
        },
        {
            title: 'Зубные пасты и ополаскиватели',
            image: 'catalog-card-1'
        },
        {
            title: 'Для<br>детей',
            image: 'catalog-card-2'
        },
        {
            title: '',
            image: 'catalog-card-5'
        },
    ]

.main-catalog.container(data-scroll-to-block data-offset="-350" data-main-catalog)
