.doctor-webinar
    .container
        h2 Вебинары
    .swiper.doctor-webinar__body.container(data-slider="mobile-full" data-width-init="768")
        .swiper-wrapper.doctor-webinar__body-wrapper
            .swiper-slide.doctor-webinar__body-item
                +webinar-item({
                    title: 'Эндодонтия под микроскопом&nbsp;&mdash; современный подход к&nbsp;лечению корневых каналов',
                    image: 'webinar-1',
                    time: '3&nbsp;марта в&nbsp;17:00-19:30 мск'
                })
            .swiper-slide.doctor-webinar__body-item
                +webinar-item({
                    title: 'Эстетика мягких тканей вокруг имплантатов: анатомические особенности',
                    image: 'webinar-2',
                    time: '18&nbsp;марта в&nbsp;18:00-19:00 мск'
                })
            .swiper-slide.doctor-webinar__body-item
                +webinar-item({
                    title: 'Мотивационное консультирование, или как сделать так, чтобы пациент сам захотел лечиться у&nbsp;вас',
                    image: 'webinar-3',
                    time: '22&nbsp;марта в&nbsp;19:00-20:30 мск'
                })
        .swiper-scrollbar(data-slider-scrollbar)
    .doctor-webinar__btn.container
        +btn({
            text: 'Смотреть все',
            isLink: true
        }).btn--outline