.article__top
    +crumbs(['Главная', 'Узнать больше', 'Советы эксперта', 'Статья'])
    .article__top-img__holder
        +picture({
            src: 'article-3.jpg',
            srcWebp: 'article-3.webp'
        }).article__top-img
