.webinar-body.container
    .webinar-body__title
        h1 Мотивационное консультирование, или как сделать так, чтобы пациент сам захотел лечиться у&nbsp;вас
    .webinar-body__card
        +webinar-card
    .webinar-body__info
        h3 О&nbsp;вебинаре
        p В&nbsp;последние годы мы&nbsp;все чаще слышим о&nbsp;малоинвазивной стоматологии. Основной ее&nbsp;задачей является сохранение твердых тканей зуба, либо путем предотвращения возникновения и&nbsp;прогрессирования болезни, либо удалением и&nbsp;замещением пораженных тканей с&nbsp;их&nbsp;минимальной потерей. Данное понятие объединяет все аспекты и&nbsp;области нашей профессии. Сегодня все три основные этапа лечения в&nbsp;эндодонтии (создание доступа, формирование и&nbsp;обтурация корневых каналов) можно провести с&nbsp;применением минимально инвазивного метода, особенно в&nbsp;случаях со&nbsp;сложной анатомией.В&nbsp;последние годы мы&nbsp;все чаще слышим о&nbsp;малоинвазивной стоматологии. Основной ее&nbsp;задачей является сохранение твердых тканей зуба, либо путем предотвращения возникновения и&nbsp;прогрессирования болезни, либо удалением и&nbsp;замещением пораженных тканей с&nbsp;их&nbsp;минимальной потерей. Данное понятие объединяет все аспекты и&nbsp;области нашей профессии. Сегодня все три основные этапа лечения в&nbsp;эндодонтии (создание доступа, формирование и&nbsp;обтурация корневых каналов) можно провести с&nbsp;применением минимально инвазивного метода, особенно в&nbsp;случаях со&nbsp;сложной анатомией.

        h3 Программа
        ol 
            li Алгоритм работы с претензиями пациентов.
            li Врачебная комиссия.
            li Досудебное урегулирование.
            li Судебная стоматологическая экспертиза.
            li Законодательство о&nbsp;защите прав потребителей в&nbsp;сфере здравоохранения.
            li Юридическая документация, необходимая для защиты интересов медицинской клиники в&nbsp;суде.
        .webinar-body__info-hint
            p Чтобы принять участие в&nbsp;вебинаре установите приложение Zoom на&nbsp;ваш компьютер, iPhone или Android и&nbsp;нажмите &laquo;Подключиться&raquo;.